@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');

body {
  background: #e5e5e5;
  color: #24282B;

  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #ff5E84;
  font-weight: bold;
  transition: 300ms;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p, 
.description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

#container {
  width: 80%;
  max-width: 980px;
  margin: 40px auto;
  display: flex;
}

#intro {
  width: 300px;
  margin-right: 20px;
}

main {
  margin: 32px 0;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
}

button {
  border: none;
  background: none;
  color: #ff5E84;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.2px;
}

button:hover {
  text-decoration: underline;
}

button.fat:hover {
  text-decoration: none;
}

.fat {
  color: white;
  background: #ff5E84;

  width: 150px;
  height: 40px;

  border-radius: 6px;
  box-shadow: 0px 0px 16px rgba(255, 0, 92, 0.7);
}

footer {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  color: #777;
}

footer a {
  opacity: 0.7;
}

.hide {
  display: none;
}

/* Ideas */

.idea {
  display: flex;
  margin-bottom: 32px;
  background-color: #fff;

  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 16px -5px rgba(1, 1, 1, 0.3);
}

.idea img {
  width: 60px;
  height: 60px;
  margin-right: 32px;
}

.idea h3 {
  margin: 0;
}

.idea p {
  margin: 8px 0;
  color: #777;
}

.idea .description {
  margin: 16px 0;
}

/* MODAL FORM */

#modal {
  background: #ff5E84;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vw;

  display: flex;
  justify-content: center;
}

#modal .content {
  margin-top: 128px;
  color: white;
}

#modal .content h1 {
  text-align: center;
  text-transform: uppercase;
}

#modal form {
  width: 80%;
  max-width: 800px;

  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 20px;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
  grid-column: span 2;
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid rgba(141, 25, 52, 0.5);
  outline: none;
  font-size: 16px;
}

form label {
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.2px;
}

form a {
  background: #ffffff22;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  align-self: end;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

form a:hover {
  color: #ff5E84;
  background: #fff;
  transition: 200ms;
  text-decoration: none;

}

form button {
  background: white;

  width: 150px;
  height: 40px;

  border-radius: 6px;

  cursor: pointer;
  margin-top: 32px;

  grid-column: 2;
  justify-self: end;
}

form button:hover {
  background-color: #0984e3;
  color: white;
  text-decoration: none;
  transition: 200ms;
}

#modal.hide {
  opacity: 0;
  visibility: hidden;
}